<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Weather Dashboard</title>
  </head>
  <body>
    <header>
      <h1>Weather Monitoring Dashboard</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      
      <!-- Dropdown for Visualization -->
      <a>
        <div class="dropdown">
          <button class="dropbtn">Visualization</button>
          <div class="dropdown-content">
            <form id="visualization-form" action="/visualization" method="POST">
              <select name="city" id="city-dropdown">
                <option value="Delhi">Delhi</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Chennai">Chennai</option>
                <option value="Bangalore">Bangalore</option>
                <option value="Kolkata">Kolkata</option>
                <option value="Hyderabad">Hyderabad</option>
              </select>
              <input type="submit" value="Go" />
            </form>
          </div>
        </div>
      </a>
      <a href="/alerts">Alerts</a>
    </nav>
    <div class="content">{% block content %}{% endblock %}</div>
    <footer>
      <p>© 2024 Weather Monitoring System</p>
    </footer>
  </body>
</html>
